<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
 id="WebApp_ID" version="3.1">

	<servlet>
		<servlet-name>index</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>threadView</servlet-name>
		<jsp-file>/threadView.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>threadView</servlet-name>
		<url-pattern>/threadView</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ContentsInput</servlet-name>
		<jsp-file>/ContentsInput.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContentsInput</servlet-name>
		<url-pattern>/ContentsInput</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ContentsList</servlet-name>
		<jsp-file>/ContentsList.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>ContentsList</servlet-name>
		<url-pattern>/ContentsList</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>sarchView</servlet-name>
		<jsp-file>/sarchView.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>sarchView</servlet-name>
		<url-pattern>/sarchResult</url-pattern>
	</servlet-mapping>

	
	<servlet>
		<servlet-name>addres</servlet-name>
		<servlet-class>ResServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addres</servlet-name>
		<url-pattern>/addres</url-pattern>
		<url-pattern>/addres?thID=*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>addth</servlet-name>
		<servlet-class>ThreadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>addth</servlet-name>
		<url-pattern>/addth</url-pattern>
		<url-pattern>/addth?bdID=newspl</url-pattern>
		<url-pattern>/addth?bdID=prog</url-pattern>
		<url-pattern>/addth?bdID=nanj</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>bdServlet</servlet-name>
		<servlet-class>BdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bdServlet</servlet-name>
		<url-pattern>/toppage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>sarch</servlet-name>
		<servlet-class>SarchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sarch</servlet-name>
		<url-pattern>/sarch</url-pattern>
	</servlet-mapping>

</web-app>